#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.screen {
  width: 160px;
  height: 60px;
  margin: 0 auto 1rem auto;
  padding: 0.5rem;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 2rem;
  text-align: right;
  background-color: #050303;
}

.buttons {
  padding: 20px;
  margin: 5px;
  font-size: 20px;
}

.calculator {
  width: 250px;
  margin: 50px auto;
  padding: 10px;
  border: 2px solid #888;
  border-radius: 10px;
}

.calculator button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 15px;
  padding: 15px;
  cursor: pointer;
}
.calculator button:hover {
  background-color: #c17373;
}
